.filter{
    display: flex;
}
.filter-options{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.filer-options div{
   flex: 1 1 0;
}
.filter-status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.filter-status select{
    background: #e8e8e8;
    padding: 5px;
    border: none;
    border-radius: 3px;
    width: 8vw;
    
}
.filter-sort{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
