.filter{
    border-bottom: 1px solid #5555;
    margin-bottom: 20px;
    padding-bottom: 20px;

}
.filter-options{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.filer-options div{
   flex: 1 1 0;
}