.app{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.aside{
    width: 2vw;
    background: #191919;
}
.wrapper{
    width: 98vw;
    background: #f6f6f6;
}
.create-task-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
}
.tasks-categories{
    display: flex;
    gap: 40px;
    padding: 8vh 30px ;
}
.categories{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 13vw;
    padding: 8px 15px;
    border-radius: 10px;
    background: #f1f0f0;
    box-shadow: 0px 4px 2px 0px rgba(127, 127, 127, 0.25);
    height: 40vh;
}
.task-list{
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 70%;
}

