.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    max-width: 80vw;
    height: 8vh;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    margin-bottom: 10px;
    border-radius: 10px; 
}
.category-color{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    background: var(--tag-color-1, #F978FB);
    color: #eeeeee;
    width: 68px;
    height: 100%;
    flex-shrink: 0;
}
.task-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
}
.task-content p{
    margin: 10px;
}
.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-right: 20px;
}
.checkbox input{
    width: 20px;
    height: 20px;
}