.wrapper-content{
    height: 100vh;
    width: 95vw;
    background: #f6f6f6;
}
.create-task-form{
    display: flex;
    justify-content: center;
    align-items: center;

}
.task-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vh;
    
    
}