button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 3px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    transition: .3s;
   
}
button:hover{
    opacity: 1;
}

