.todo-form{
    padding-bottom: 1.5rem;
}
input, select{
    padding: 5px;
    margin-bottom: 10px ;
    border: 1px solid #DDD;
    border-radius: 3px;
    width: 100%;
}
input{
    /* Para que não passem da área do elemento-pai */
    box-sizing: border-box;
}